.dialog {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-top: 1px solid #9996;
    padding-top: 8px;

    button {
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1ch;

      padding: 0.5em 1em;
      border-radius: 0.5em;
      font-size: 1.2em;
    }
  }

  code {
    margin: 8px;
    text-align: center;
    flex: 1;
    display: block;

    overflow-x: auto;
  }
}
