.dialog {
  width: clamp(400px, 80vw, 600px);
  padding: 8px;

  border: 1px solid rgba(from var(--button-color) r g b / 0.5);
  border-radius: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #9996;

  h2 {
    margin: 4px;
    border-right: 1px solid #9996;
    flex: 1;
    text-wrap: nowrap;
  }

  button {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 8px;
    aspect-ratio: 1 / 1;
    color: currentColor;

    border: 0;
  }
}

.content {
  hr {
    border: 1px solid rgba(from var(--path-color) r g b / 0.15);
  }

  p:last-child {
    margin-bottom: 0px;
  }
}

@media (max-width: 600px) {
  .dialog[open] {
    border-width: 1px 0 0 0;
    width: 100vw;
    padding: 8px 0px 0px 0px;
    max-width: unset;
    border-radius: 0;
    max-height: 90dvh;
    margin-bottom: 0px;
  }

  .dialog .header h2 {
    padding-left: 8px;
  }

  .dialog .content {
    padding: 4px 8px 16px 8px;
  }
}
