.word::after {
  content: "-";
  margin-left: 4px;
  margin-right: 4px;
}

.word:last-child::after {
  display: none;
}

.hamburger[open] {
  border-radius: unset;
  border: 0;
  position: fixed;
  right: 0px !important;
  top: 0px;
  height: 100dvh;
  margin-left: auto;
  margin-right: 0;

  border: 0;
  max-height: unset;
  width: clamp(200px, 400px, 80vw);

  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    padding: 12px;
    justify-content: flex-end;

    button {
      font-size: 30px;
      padding: 8px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border-radius: 4px;
      border: 1px solid black;
    }
  }

  .action {
    padding: 4px 0;
    border-color: transparent;
    border-top: 1px solid #999a;

    display: flex;
    flex-direction: row;

    display: flex;
    font-size: 1.5em;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    padding: 8px;

    background-color: transparent;
    text-wrap: pretty;
    border-radius: 0;

    cursor: pointer;

    svg {
      font-size: clamp(1em, 30px, 30px);
      opacity: 0.5;
    }
  }

  .apps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 1px solid #999a;
    padding-top: 8px;

    img {
      height: 2em;
      aspect-ratio: 1 / 1;
    }
  }
}
