.container {
  width: 100%;
  height: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  color: #333;
}

@media (prefers-color-scheme: dark) {
  .text {
    color: #999;
  }
}
