.refresh {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px #fff;
  }
  70% {
    box-shadow: 0 0 0 10px #fff0;
  }
  100% {
    box-shadow: 0 0 0 50px #fff0;
  }
}
